.modal-header, .modal-body {
    display: flex;
    justify-content: center;
}

.modal-content-2 div {
    display: flex;
    flex-direction: column;
    background-color: #00000000;
}

.modal-content-1 div {
    background-color: #00000000;
}

.modal-body, .modal-body div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000006f;
    border: #375562 2px solid;
    border-radius: 20px;
    padding: 20px;
    font-weight: 900;
    color: white;
}

.modal-body * {
    margin: 0 4px;
}
.modal-header {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    color:antiquewhite;
    background-image: linear-gradient(to right, #6d7cb3, #4d91b6, #0e77a6);
}
.modal-body button:disabled {
    background-image: linear-gradient(to right, #3a3d48, #454a4c);
    border: 1px solid rgb(93, 91, 91);
    color: gray;
}

.modal-body button {
    background-image: linear-gradient(to right, #6d7cb3, #375562);
    color: white;
  }
  
  .modal-body button:hover {
    background-image: linear-gradient(to right, #6d7cb3, #3e7b97);
    font-weight: bolder;
    color: white;
    transition: all 0.2s ease;
    border: 1px solid rgba(93, 91, 91, 0.26);
  }
  
  

.modal-content {
    box-shadow: 10px 10px 5px rgba(13, 9, 80, 0.386);
    background-color: #0e76a610;
}


.textarea {
    width: 100%;
}

.blanck {
    height: 20px;
}

